<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

       <!-- connection settings -->
        <property name="connection.driver_class"> com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url"> jdbc:mysql://localhost:3306/Student</property>
        <property name="connection.username">root</property>
        <property name="hibernate.connection.password">raj1234</property>

        <!-- Hibernate dialect-->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Drop and  re-create all the database on startup-->
        <property name="hbm2ddl.auto">create</property>
       <!-- print executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">ture</property>


<!--        <mapping resource="Employee.hbm.xml"></mapping>-->
        <mapping resource="com.example.Hibernateturorial.Employee"></mapping>
        <mapping resource="com.example.Hibernateturorial.Contact"></mapping>
    </session-factory>
</hibernate-configuration>